.home{
    border: 2px solid rgb(16, 176, 216);
    background-color: rgb(16, 176, 216);
    width: 130px;
    border-radius: 20px;
    height: 45px;
    text-align: center;
    position: relative;
    left: 36%;
}
ul{
   list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header hr{
    width: 90%;
    height: 2px;
    background-color: black;
    border: none;
}
.contact{
    border: 2px solid rgb(16, 176, 216);
    background-color: rgb(16, 176, 216);
    width: 130px;
    border-radius: 20px;
    height: 45px;
    text-align: center;
    position: absolute;
    right: 38%;
    top: 15%;
}
.projekti:first-child{
    position: absolute;
    top: 20%;
    right: 7%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-image: url(img/portfolio-background-header.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.middle{
    position: absolute;
    font-weight: bold;
    left: 50%;
    top: 15%;
}
.who{
    border: 2px solid rgb(224, 224, 72);
    border-radius: 20px;
    background-color: rgb(224, 224, 72);
    margin-right: 50px;
    margin-left: 50px;
}
.who img{
    position: relative;
    left: 37%;
}
h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.doubleline{
    text-decoration: underline black;
}
.who:hover{
    border: 2px solid black;
    background-color: yellow;
}
.contact:hover{
    background-color: rgb(18, 18, 177);
    border: 1px solid rgb(18, 18, 177);
}
.home:hover{
    background-color: rgb(18, 18, 177);
    border: 1px solid rgb(18, 18, 177);
}
.primary{
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lists{
    border: 2px solid rgb(201, 75, 75);
    border-radius: 20px;
    background-color: rgb(201, 75, 75);
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
}
.primary{
    order: 2px solid white;
    border-radius: 20px;
    background-color: white;
    height: 100px;
    margin: 10px;
    position: relative;
    right: 1%;
    font-weight: bold;
}

