/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --default-font: roboto;
    --default-size: 14px;
    --default-icon-size: 1.3rem;
    --default-weight: 100;
    --color-yellow: #ffa726;
    --color-cherry: #d81b60;
    --color-lime: #66bb6a;
    --color-aqua: #26c6db;
    --icons-color: #555555;
    --mouse-color: #999999;
    --default-background-color: #EEEEEE;
}

body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 260px 1fr;
    grid-template-columns: 260px 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    margin: 0;
    padding: 0;
    background-color: var(--default-background-color);
    font-weight: 100;
    height: 100vh;
}

body>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

body>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.sidebar {
    background: url(images/sidebar-1.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
}

.sidebar-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    padding: 10px;
}

.sidebar h2 {
    font-size: 18px;
    font-family: var(--default-font);
    color: white;
    font-weight: 100;
    line-height: 30px;
    margin: 10px;
}

.down-arrow {
    margin-left: auto;
}

.sidebar-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    height: 100vh;
}

.sidebar a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: var(--default-size);
    font-family: var(--default-font);
    margin: 10px 0px 0px;
    gap: 1rem;
}

.sidebar a:not(.dashboard):hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

.dashboard {
    background-color: orangered;
    border-radius: 3px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: var(--default-font)
}

.sidebar hr {
    border: none;
    border-top: 0.5px solid var(--mouse-color);
}

ul img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin: 5px;
}

.admin-profile {
    color: white;
    font-size: var(--default-size);
    font-family: var(--default-font);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 10px 0px 0px;
    cursor: pointer;
}

.admin-details {
    font-family: var(--default-font);
    font-size: var(--default-size);
}

.admin-profile .material-icons {
    margin-left: auto;
    text-align: center;
}

.btn {
    border: none;
    padding: 11px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    line-height: 1em;
}

#menu-btn {
    color: var(--icons-color);
    font-size: 17px;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--icons-color);
}

nav .material-icons {
    padding: 0;
    font-size: 20px;
    color: var(--icons-color);
    cursor: pointer;
}

nav .btn {
    font-size: 17px;
    vertical-align: middle;
}

.search-bar {
    border: none;
    margin: 4px 0px 0px;
    padding: 0px 5px;
}

.search-bar-input {
    border: none;
    border-bottom: 1.5px solid gray;
    opacity: 0.4;
    background-color: var(--default-background-color);
}

.search-bar-input:focus {
    outline: none;
    border-bottom: 2px solid #9c27b0;
    opacity: 1;
}

.btn:not(.material-icons):hover {
    -webkit-box-shadow: -3.5px -1px 9.5px 3px rgba(153, 153, 153, 0.14), -3.5px -1px 9.5px 3px rgba(153, 153, 153, 0.14), -3.5px -1px 9.5px 3px rgba(153, 153, 153, 0.14);
    box-shadow: -3.5px -1px 9.5px 3px rgba(153, 153, 153, 0.14), -3.5px -1px 9.5px 3px rgba(153, 153, 153, 0.14), -3.5px -1px 9.5px 3px rgba(153, 153, 153, 0.14);
}

#search-btn {
    padding: 11px;
    text-align: center;
}

.right {
    font-size: var(--default-size);
    font-family: var(--default-font);
    gap: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem;
    height: 100vh;
    overflow-y: scroll;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1em;
}

.top-right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
}

.top-left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
}

.two-notify {
    position: relative;
    display: inline-block;
}

.notifications {
    border: 1px solid #FFF;
    position: absolute;
    top: -6px;
    left: 8px;
    font-size: 14px;
    background: #f44336;
    color: #FFFFFF;
    min-width: 10px;
    padding: 0px 5px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 19px;
    display: block;
}

.two-notify {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    width: 250px;
    position: absolute;
    top: 80%;
    right: 20px;
    z-index: 1;
    padding: 10px;
    background-color: #fff;
    font-size: var(--default-size);
    font-family: var(--default-font);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border-radius: 3px;
}

.two-notify:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 12px;
}


.dropdown-menu li:hover {
    background-color: orangered;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}

.card-content {
    background-color: white;
    border-radius: 6px;
    padding: 15px 20px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

h4 {
    font-size: 1.3em;
    font-family: var(--default-font);
    font-weight: var(--default-weight);
    display: inline;
    color: #3C4858;
}

.card-image {
    background-color: #66bb6a;
    padding: 20px;
    border-radius: 3px;
    font-size: var(--default-size);
    color: white;
    position: relative;
    top: -10px;
    vertical-align: middle;
    margin-right: 10px;
    margin: -20px 15px 0px;
}

table {
    border-collapse: collapse;
}

tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

tr,
td {
    text-align: left;
    padding: 10px;
}

.table-sales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    padding: 10px;
}

.direction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.grid-cards-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 2rem 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
    row-gap: 2rem;
}

.grid-cards-container>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.grid-cards-container>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.grid-cards-container>*:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.grid-cards-container>*:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.element1 {
    background-color: white;
    border-radius: 6px;
    padding: 15px 20px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.element2 {
    background-color: white;
    border-radius: 6px;
    padding: 15px 20px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.element3 {
    background-color: white;
    border-radius: 6px;
    padding: 15px 20px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.element4 {
    background-color: white;
    border-radius: 6px;
    padding: 15px 20px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.element-description {
    font-family: var(--default-font);
    color: #3C4858;
    font-weight: var(--default-weight);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.card-images {
    background-color: var(--color-yellow);
    padding: 20px;
    color: white;
    border-radius: 3px;
    position: relative;
    top: -30px;
}

.amount {
    font-size: 1.5rem;
    font-weight: 300;
}

.card3-images {
    background-color: var(--color-cherry);
    padding: 20px;
    color: white;
    border-radius: 3px;
    position: relative;
    top: -30px;
}

.card4-images {
    background-color: var(--color-lime);
    padding: 20px;
    color: white;
    border-radius: 3px;
    position: relative;
    top: -30px;
}

.card2-images {
    background-color: var(--color-aqua);
    padding: 20px;
    color: white;
    border-radius: 3px;
    position: relative;
    top: -30px;
}

.element1-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.element1-footer hr {
    border: none;
    border-top: 0.5px solid #ddd;
}

.element1-footer .material-icons {
    font-size: 16px;
    color: var(--mouse-color);
}

.footer-description {
    color: var(--mouse-color);
    font-size: 12px;
    font-family: var(--default-font);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2px;
}

.element4-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.element4-footer hr {
    border: none;
    border-top: 0.5px solid #ddd;
}

.element4-footer .material-icons {
    font-size: 16px;
    color: var(--mouse-color);
}

.element2-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.element2-footer hr {
    border: none;
    border-top: 0.5px solid #ddd;
}

.element2-footer .material-icons {
    font-size: 16px;
    color: var(--mouse-color);
}

h3 {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: var(--default-font);
}

.hotel-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2em 1fr 2em 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.card-1 {
    background-color: white;
    border-radius: 6px;
    padding: 15px 20px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.card-2 {
    background-color: white;
    border-radius: 6px;
    padding: 15px 20px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.card-3 {
    background-color: white;
    border-radius: 6px;
    padding: 15px 20px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.card-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0px 15px;
    text-align: center;
    font-family: var(--default-font);
}

.hotel-content img {
    width: 100%;
    border-radius: 6px;
    position: relative;
    top: -40px;
}

.hotel-content {
    padding: 20px;
}

.hotel-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: var(--default-font);
    font-size: 1.5em;
    margin: 0px 0px 10px;
}

.hotel-description {
    font-size: var(--default-size);
    font-family: var(--default-font);
    color: var(--mouse-color)
}

.hotel-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 20px 10px;
    padding-top: 15px;
    border-top: 1px solid var(--default-background-color);
}

.hotel-location .material-icons {
    font-size: 16px;
    color: var(--mouse-color);
}

.city {
    font-size: var(--default-size);
    color: var(--mouse-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: var(--default-font);
    margin: 0;
}

.hotel-price {
    font-size: 18px;
}

.card-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    padding: 0px 15px;
    text-align: center;
}

.card-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0px 15px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-family: var(--default-font);
    padding: 10px;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.footer {
    border: none;
    border-top: 0.5px solid #ddd;
    padding: 20px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card-content img {
    z-index: 3;
}

.cards-hover:hover img {
    -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    cursor: pointer;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
}

.card-icons .material-icons {
    padding: 5px;
    font-size: 18px;
}

.card-icons {
    position: relative;
    top: -80px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.cards-hover:hover .card-icons {
    opacity: 1;
}

.track {
    color: var(--mouse-color);
}

.edit {
    color: green;
}

.close {
    color: red;
}

.menu {
    display: none;
}

@media screen and (max-width: 1000px) {
    body {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: none;
    }

    .top-right-side {
        display: none;
    }

    .top-left-side {
        display: inline-block;
    }

    .top-left-side .btn {
        display: none;
    }

    .menu {
        display: inline-block;
    }

    .table-sales {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .hotel-cards {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}

@media screen and (max-width: 600px) {
    body {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: none;
    }

    .top-right-side {
        display: none;
    }

    .top-left-side {
        display: inline-block;
    }

    .menu {
        display: inline-block;
    }

    .grid-cards-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .hotel-cards {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}